/**
 * Using for the parentNode of which element you want apply 3D animation to.
 * @class .a3d-box
 * @emxaple:
 *   <div class="a3d-box">
 *       <div class="a3d pullIn"></div>
 *   </div>
 */
.a3d-box {
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  perspective: 200px;
  perspective-origin: center;

  // -moz-perspective: 200px;
  // -webkit-perspective: 200px;
  // -o-perspective: 200px;
  // -ms-perspective: 200px;
  // perspective: 200px;
  // -moz-perspective-origin: center;
  // -webkit-perspective-origin: center;
  // -o-perspective-origin: center;
  // -ms-perspective-origin: center;
  // perspective-origin: center;
}


/**
 * enable 3D mode for animations
 * @class .a3d
 */
.a3d {

  transform-style: preserve-3d;
  transition: transform;
  animation-duration: $base-duration;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-play-state: running;

  // -webkit-transform-style: preserve-3d;
  //    -moz-transform-style: preserve-3d;
  //     -ms-transform-style: preserve-3d;
  //      -o-transform-style: preserve-3d;
  //         transform-style: preserve-3d;
  // -webkit-transition: -webkit-transform .6s;
  //    -moz-transition: -moz-transform .6s;
  //     -ms-transition: -ms-transform .6s;
  //      -o-transition: -o-transform .6s;
  //         transition: transform .6s;
}


.a3d.infinite {
  animation-iteration-count: infinite;
}