if $use-flightInRight == true
  @keyframes
    0$
      opacity: 0
      transform: rotate3d(1, 0, 0, 45deg) translateY(-100%) translateX(900%)
    50$
      opacity: 1
      transform: rotate3d(1, 0, 0, 45deg) translateY(-100%) translateX(0)
    100$
      opacity: 1
      transform: rotate3d(1, 0, 0, 0deg) translateY(0) translateX(0)
  .flightInRight
    transform-origin: top center
    animation-name: flightInRight
    animation-timing-function: ease-in-out
