& when (@use-turnInRight = true) {

    @keyframes turnInRight {
        0% {
            transform: rotateY(180deg);
        }
        40% {
            transform: rotateY(45deg);
        }
        70% {
            transform: rotateY(-20deg);
        }
        80% {
            transform: rotateY(10deg);
        }
        90% {
            transform: rotateY(-5deg);
        }
        100% {
            transform: rotateY(0deg);
        }
    }

    .turnInRight {
        transform-origin: left;
        animation-name: turnInRight;
    }
}