if $use-slideOutFront == true
  @keyframes
    0$
      transform: translateY(0px) translateZ(0px) rotateX(0deg)
    50$
      opacity: 1
      transform: translateY(0px) translateZ(-20px) rotateX(90deg)
    100$
      opacity: 0
      transform: translateY(100px) translateZ(-1000px) rotateX(90deg)
  .slideOutFront
    transform-origin: bottom center
    animation-name: slideOutFront
    animation-timing-function: ease-in-out
