/**
 * Using for the parentNode of which element you want apply 3D animation to.
 * @class .a3d-box
 * @emxaple:
 *   <div class="a3d-box">
 *       <div class="a3d pullIn"></div>
 *   </div>
 */
.a3d-box {
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-perspective: 200px;
          perspective: 200px;
  -webkit-perspective-origin: center;
          perspective-origin: center; }

/**
 * enable 3D mode for animations
 * @class .a3d
 */
.a3d {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform;
          transition: transform;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

.a3d.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes pushIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.06);
            transform: scale(1.06); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pushIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.06);
            transform: scale(1.06); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.pushIn {
  -webkit-animation-name: pushIn;
  animation-name: pushIn; }

@-webkit-keyframes pushInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) translateZ(40px) rotateX(-10deg);
            transform: translateY(50px) translateZ(40px) rotateX(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

@keyframes pushInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px) translateZ(40px) rotateX(-10deg);
            transform: translateY(50px) translateZ(40px) rotateX(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

.pushInUp {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: pushInUp;
          animation-name: pushInUp; }

@-webkit-keyframes pushInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) translateZ(40px) rotateX(10deg);
            transform: translateY(-50px) translateZ(40px) rotateX(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

@keyframes pushInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px) translateZ(40px) rotateX(10deg);
            transform: translateY(-50px) translateZ(40px) rotateX(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

.pushInDown {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: pushInDown;
          animation-name: pushInDown; }

@-webkit-keyframes pushInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) translateZ(40px) rotateY(-10deg);
            transform: translateX(-50px) translateZ(40px) rotateY(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

@keyframes pushInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px) translateZ(40px) rotateY(-10deg);
            transform: translateX(-50px) translateZ(40px) rotateY(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

.pushInLeft {
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation-name: pushInLeft;
          animation-name: pushInLeft; }

@-webkit-keyframes pushInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px) translateZ(40px) rotateY(10deg);
            transform: translateX(50px) translateZ(40px) rotateY(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

@keyframes pushInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px) translateZ(40px) rotateY(10deg);
            transform: translateX(50px) translateZ(40px) rotateY(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

.pushInRight {
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation-name: pushInRight;
          animation-name: pushInRight; }

@-webkit-keyframes pushInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px) translateZ(120px) rotateX(-10deg);
            transform: translateY(150px) translateZ(120px) rotateX(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

@keyframes pushInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px) translateZ(120px) rotateX(-10deg);
            transform: translateY(150px) translateZ(120px) rotateX(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

.pushInUpBig {
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-name: pushInUpBig;
          animation-name: pushInUpBig; }

@-webkit-keyframes pushInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px) translateZ(120px) rotateX(10deg);
            transform: translateY(-150px) translateZ(120px) rotateX(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

@keyframes pushInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px) translateZ(120px) rotateX(10deg);
            transform: translateY(-150px) translateZ(120px) rotateX(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); } }

.pushInDownBig {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-animation-name: pushInDownBig;
          animation-name: pushInDownBig; }

@-webkit-keyframes pushInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px) translateZ(120px) rotateY(-10deg);
            transform: translateX(-500px) translateZ(120px) rotateY(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

@keyframes pushInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px) translateZ(120px) rotateY(-10deg);
            transform: translateX(-500px) translateZ(120px) rotateY(-10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

.pushInLeftBig {
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation-name: pushInLeftBig;
          animation-name: pushInLeftBig; }

@-webkit-keyframes pushInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px) translateZ(120px) rotateY(10deg);
            transform: translateX(500px) translateZ(120px) rotateY(10deg); }

  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

@keyframes pushInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px) translateZ(120px) rotateY(10deg);
            transform: translateX(500px) translateZ(120px) rotateY(10deg); }

  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg); } }

.pushInRightBig {
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-animation-name: pushInRightBig;
          animation-name: pushInRightBig; }

@keyframes pushIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

  50% {
    opacity: 0.8;
    -webkit-transform: scale(1.06);
            transform: scale(1.06); }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

.pushIn {
  -webkit-animation-name: pushIn;
  animation-name: pushIn; }

@-webkit-keyframes pushOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0px) translateZ(-40px) rotateX(-10deg);
            transform: translateY(0px) translateZ(-40px) rotateX(-10deg); } }

@keyframes pushOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0px) translateZ(-40px) rotateX(-10deg);
            transform: translateY(0px) translateZ(-40px) rotateX(-10deg); } }

.pushOutUp {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: pushOutUp;
          animation-name: pushOutUp; }

@-webkit-keyframes pushOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0px) translateZ(-40px) rotateX(10deg);
            transform: translateY(0px) translateZ(-40px) rotateX(10deg); } }

@keyframes pushOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0px) translateZ(-40px) rotateX(10deg);
            transform: translateY(0px) translateZ(-40px) rotateX(10deg); } }

.pushOutDown {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-name: pushOutDown;
          animation-name: pushOutDown; }

@-webkit-keyframes pushOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0px) rotateX(0deg);
            transform: translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-40px) rotateY(10deg);
            transform: translateZ(-40px) rotateY(10deg); } }

@keyframes pushOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0px) rotateX(0deg);
            transform: translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-40px) rotateY(10deg);
            transform: translateZ(-40px) rotateY(10deg); } }

.pushOutLeft {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation-name: pushOutLeft;
          animation-name: pushOutLeft; }

@-webkit-keyframes pushOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0px) rotateX(0deg);
            transform: translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-40px) rotateY(-10deg);
            transform: translateZ(-40px) rotateY(-10deg); } }

@keyframes pushOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0px) rotateX(0deg);
            transform: translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-40px) rotateY(-10deg);
            transform: translateZ(-40px) rotateY(-10deg); } }

.pushOutRight {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-animation-name: pushOutRight;
          animation-name: pushOutRight; }

@-webkit-keyframes pushOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-500px) translateZ(-120px) rotateX(-20deg);
            transform: translateY(-500px) translateZ(-120px) rotateX(-20deg); } }

@keyframes pushOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-500px) translateZ(-120px) rotateX(-20deg);
            transform: translateY(-500px) translateZ(-120px) rotateX(-20deg); } }

.pushOutUpBig {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: pushOutUpBig;
          animation-name: pushOutUpBig; }

@-webkit-keyframes pushOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(150px) translateZ(-120px) rotateX(20deg);
            transform: translateY(150px) translateZ(-120px) rotateX(20deg); } }

@keyframes pushOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) translateZ(0px) rotateX(0deg);
            transform: translateY(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(150px) translateZ(-120px) rotateX(20deg);
            transform: translateY(150px) translateZ(-120px) rotateX(20deg); } }

.pushOutDownBig {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-name: pushOutDownBig;
          animation-name: pushOutDownBig; }

@-webkit-keyframes pushOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateX(0deg);
            transform: translateX(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px) translateZ(-120px) rotateY(20deg);
            transform: translateX(-500px) translateZ(-120px) rotateY(20deg); } }

@keyframes pushOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateX(0deg);
            transform: translateX(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px) translateZ(-120px) rotateY(20deg);
            transform: translateX(-500px) translateZ(-120px) rotateY(20deg); } }

.pushOutLeftBig {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation-name: pushOutLeftBig;
          animation-name: pushOutLeftBig; }

@-webkit-keyframes pushOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateX(0deg);
            transform: translateX(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(500px) translateZ(-120px) rotateY(-20deg);
            transform: translateX(500px) translateZ(-120px) rotateY(-20deg); } }

@keyframes pushOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) translateZ(0px) rotateX(0deg);
            transform: translateX(0px) translateZ(0px) rotateX(0deg); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(500px) translateZ(-120px) rotateY(-20deg);
            transform: translateX(500px) translateZ(-120px) rotateY(-20deg); } }

.pushOutRightBig {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-animation-name: pushOutRightBig;
          animation-name: pushOutRightBig; }