html,body {
    height: 100%;
    width: 100%;
}

body > [layout=row] {
    height: 100%;
}

.a3d-box.demo {
    height: 100%;
    width: 100%;
}

.a3d.demo {
    margin: auto;
    width: 320px;
    height: 240px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.9);
    background-image:linear-gradient(45deg, #CE0B43 35%, #FF0066 35%, #E60647 80%, #CE0B43 80%);
}

.a3d.demo img {
    width: 100%;
}

#animationsSelector {
    -webkit-appearance: inherit;
    appearance: inherit;
    padding: 16px;
    font-size: 18px;
}
#animate-it {
    transition: 0.4s;
    padding: 16px;
    font-size: 18px;
    background-color: #2DC6CF;
    color: #fff;
    border-radius: 10px;
    border: 0px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
#animate-it:hover {
    background-color: #30DCE5;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}
#animate-it:active,
#animate-it:focus {
    outline: none;
    background-color: #28B8BF;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3), inset 1px 1px 3px rgba(0,0,0,0.1);
}