@if ($use-pullIn == true) {

    @keyframes pullIn {
        0% {
            opacity: 0;
            transform: translateZ(-$pp-translate-z);
        }
        50% {
            opacity: 0.8;
            transform: translateZ(-$pp-translate-z / 2);
        }
        100% {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    .pullIn {
        animation-name: pullIn;
    }
}