@if ($use-pullInRightBig == true) {

    @keyframes pullInRightBig {
        0% {
            opacity: 0;
            transform: translateX($pp-translate-x-big) translateZ(-$pp-translate-z-big) rotateY(-$pp-rotate-big);
        }
        100% {
            opacity: 1;
            transform: translateX(0px) translateZ(0px) rotateY(0deg);
        }
    }

    .pullInRightBig {
        transform-origin: right center;
        animation-name: pullInRightBig;
    }
}