@if $use-pushIn == true {

    @keyframes pushIn {
        0% {
            opacity: 0;
            transform: scale(1.2);
        }
        50% {
            opacity: 0.8;
            transform: scale(1.06);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .pushIn {
        @include a3d-prefixer(animation-name, 'pushIn');
    }
}