if $use-pullInUpBig == true
  @keyframes
    0$
      opacity: 0
      transform: translateY($pp-translate-y-big) translateZ(-$pp-translate-z-big * 4) rotateX($pp-rotate-big * 2)
    100$
      opacity: 1
      transform: translateY(0px) translateZ(0px) rotateX(0deg)
  .pullInUpBig
    transform-origin: top center
    animation-name: pullInUpBig
