& when (@use-pushOutDown = true) {

    @keyframes pushOutDown {
        0% {
            opacity: 1;
            transform: translateY(0px) translateZ(0px) rotateX(0deg);
        }
        100% {
            opacity: 0;
            transform: translateY(0px) translateZ(-@pp-translate-z) rotateX(@pp-rotate);
        }
    }

    .pushOutDown {
        transform-origin: bottom center;
        animation-name: pushOutDown;
    }
}