@if ($use-turnOutDown == true) {

    @keyframes turnOutDown {
        0% {
            transform: rotateX(0deg);
        }
        50% {
            transform: rotateX(90deg);
        }
        100% {
            opacity: 0;
            transform: rotateX(180deg);
        }
    }

    .turnOutDown {
        transform-origin: bottom;
        animation-name: turnOutDown;
    }
}