if $use-turnInLeft == true
  @keyframes
    0$
      opacity: 0
      transform: rotateY(360deg) translateZ(200px) translateX(600px)
    100$
      opacity: 1
      transform: rotateY(0deg) translateZ(0px) translateX(0px)
  .turnInLeft
    transform-origin: bottom center
    animation-name: turnInLeft
