if $use-helicopterInFront == true
  @keyframes
    0$
      opacity: 0
      transform: translateY(100px) translateZ(-1000px) rotateX(90deg) scaleY(0.2)
    50$
      opacity: 1
      transform: translateY(0px) translateZ(-20px) rotateX(90deg) scaleY(0.6)
    100$
      transform: translateY(0px) translateZ(0px) rotateX(0deg)
  .helicopterInFront
    transform-origin: top center
    animation-name: helicopterInFront
    animation-timing-function: ease-in-out
