@if ($use-revolveOutRight == true) {

    @keyframes revolveOutRight {
        0% {
            opacity: 1;
            transform: rotateY(0deg) translateZ(0px) translateX(0px);
        }
        100% {
            opacity: 0;
            transform: rotateY(-359deg) translateZ(200px) translateX(-400px);
        }
    }

    .revolveOutRight {
        transform-origin: right;
        animation-name: revolveOutRight;
    }
}