@if ($use-revolveOutDown == true) {

    @keyframes revolveOutDown {
        0% {
            opacity: 1;
            transform: rotateX(0deg) translateZ(0px) translateY(0px);
        }
        100% {
            opacity: 0;
            transform: rotateX(360deg) translateZ(200px) translateY(600px);
        }
    }

    .revolveOutDown {
        transform-origin: bottom center;
        animation-name: revolveOutDown;
    }
}