@if ($use-pullOutUpBig == true) {

    @keyframes pullOutUpBig {
        0% {
            opacity: 1;
            transform: translateY(0px) translateZ(0px) rotateX(0deg);
        }
        100% {
            opacity: 0;
            transform: translateY(-$pp-translate-y-big) translateZ($pp-translate-z-big) rotateX($pp-rotate-big);
        }
    }

    .pullOutUpBig {
        transform-origin: top center;
        animation-name: pullOutUpBig;
    }
}