@if ($use-pullOutDown == true) {

    @keyframes pullOutDown {
        0% {
            opacity: 1;
            transform: translateY(0px) translateZ(0px) rotateX(0deg);
        }
        100% {
            opacity: 0;
            transform: translateY($pp-translate-y) translateZ($pp-translate-z) rotateX(-$pp-rotate);
        }
    }

    .pullOutDown {
        transform-origin: bottom center;
        animation-name: pullOutDown;
    }
}