@if $use-pushOutLeft == true {

    @keyframes pushOutLeft {
        0% {
            opacity: 1;
            transform: translateZ(0px) rotateX(0deg);
        }
        100% {
            opacity: 0;
            transform: translateZ(-$pp-translate-z) rotateY($pp-rotate);
        }
    }

    .pushOutLeft {
        transform-origin: left;
        animation-name: pushOutLeft;
    }
}